* {
    box-sizing: border-box;
}

body {
    text-align: center;
    margin: 0 auto;
    background-color: rgba(245, 245, 245, 0.973);
    /* max-width: 290px; */
}

header,
main,
footer {
    width: 100vw;
    text-align: center;
    margin: 0 auto;
}

main {
    margin-top: 15px;
    padding-bottom: 35px;
}
header {
    margin-bottom: 40px;
}
footer {
    margin: 0 auto;
    padding: 15px 0px;
    border-top: 1px rgba(221, 221, 221, 0.479) solid;
    width: 90%;
}
img {
    /* width: 90%; */
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

p {
    line-height: 1.5;
    /* width: 90%; */
}


header p,
.project p {
    margin: 0 auto;
    width: 90%;
}

header section ,
#Contact {
    width: 288px;
    margin: 0 auto;
}
.contact p {
    margin: 25px auto;
    width: 90%;
}

#Portfolio {
    background-color: white;
    padding-top: 20px;
    padding-bottom: 45px;
}

.profile-image {
    width: 200px;
}

.project-image {
    width: 288px;
}

.main-nav li {
    background-color: white;
    padding: 10px 0px;
    margin: 5px 15px;
}

.project {
    padding: 20px 0 15px 0;
    width: 288px;
    margin: 0 auto;
}

.contact {
    padding-top: 35px;
}

.hidden-text {
    display: none;
}

.footer-container {
    display: flex;
    margin: 0px auto;
    justify-content: space-between;
}

.footer-item {
    margin: 10px 0px;
}

.footer-item-1 {
    margin-right: auto;
}

.footer-item-1 p {
    margin-top: 0px;
}

a,
.heading {
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
}

.hidden-name {
    display: none;
}

@media screen and (min-width: 768px ) {

    .main-nav {
        display: inline-flex;
        /* flex-direction: row; */
        /* justify-content: space-around; */
    }

    .main-nav li {
        background-color: inherit;
    }

    .profile-image {
        width: 290px;
        float: right;
        margin-right: calc(100% - 97%);
        margin-left: 10px;
    }

    header p {
        text-align: left;
        margin-top: 10px;
        margin-left: calc(100% - 95%);
        /* width: 50%; */
    }

    .projects {
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        width: 750px;
        justify-content: space-evenly;
    }
    .project {
        width: 350px;
        margin: 20px 0px;
    }
    .project-image {
        width: 345px;
    }

    .project p {
        width: 260px;
    }

    header {
        margin-bottom: 120px;
    }

    header section {
        margin-top: 50px;
    }

    header section,
    #Contact {
        width: 750px;
    }

    .hidden-text {
        display: contents;
    }

    .footer-item-2 {
        display: none;
    }

    .footer-container {
        justify-content: space-evenly;
    }
    
    .footer-item a {
        padding: 10px;
    }
}

@media screen and (min-width: 1024px ) {

    header {
        width: 90%;
        margin-bottom: 200px;;
    }

    h1 {
        display: none;
    }

    #Portfolio {
        margin: 0 auto;
        width: 990px;
    }
    .hidden-name {
        display: contents;
    }

    .main-nav {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        /* width: 90%; */
        }

    .nav-item-1 {
        margin-right: auto;
    }

    .nav-item-1 p {
        width: auto;
    }

    .nav-item-4 {
        margin-right: 0;
    }

    header section {
        width: 990px;
    }
     
    .profile-image {
        width: 350px;
        margin-right: calc(100% - 95%);
    }

    header p {
        width: 500px;
        margin-left: 0;
    }

    .projects {
        width: 990px;
    }

    .project {
        width: 300px;
    }

    .project-image {
        width: 300px;
    }

    .contact p{
        width: 51%;
    }

}