* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    background-color: rgba(245, 245, 245, 0.973);
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    color: #696666;
}

body ,
header ,
main ,
footer ,
header p ,
.project p ,
header section ,
#Contact ,
.project ,
.footer-container {
    margin: 0 auto;
}

header,
main,
footer {
    width: 100vw;
    text-align: center;
}

main {
    margin-top: 15px;
    padding-bottom: 35px;
}
header {
    margin-bottom: 40px;
}
footer {
    padding: 15px 0px;
    border-top: 1px rgba(221, 221, 221, 0.479) solid;
}

footer ,
.contact p {
    width: 90%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1 {
    font-weight: 700;
}

h3 {
    font-weight: 400;
    font-size: unset;
}

p {
    line-height: 1.5;
}

header p,
.project p {
    width: 98%;
}

header section ,
#Contact {
    width: 288px;
}
.contact p {
    margin: 25px auto;
}

#Portfolio {
    padding-top: 20px;
    padding-bottom: 45px;
}

#Portfolio ,
.main-nav li {
    background-color: white;
}

.profile-image {
    width: 200px;
    margin: 10px 0;
}

.project-image {
    width: 100%;
}

.main-nav li {
    padding: 10px 0px;
    margin: 5px 15px;
}

.project {
    padding: 20px 0 15px 0;
    width: 288px;
}

.contact {
    padding-top: 35px;
}

.hidden-text {
    display: none;
}

.footer-container {
    display: flex;
    justify-content: space-between;
}

.footer-item {
    margin: 10px 0px;
}

.footer-item-1 {
    margin-right: auto;
}

.footer-item-1 p {
    margin-top: 0px;
}

.footer-item-1 p ,
a ,
.heading {
    font-weight: bold;
}
a,
.heading {
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
    font-size: small;
}

.hidden-name {
    display: none;
}

@media screen and (min-width: 768px ) {

    .main-nav {
        display: inline-flex;
    }

    .main-nav li {
        background-color: inherit;
    }

    .profile-image {
        width: 290px;
        float: right;
        margin-right: calc(100% - 97%);
        margin-left: 10px;
    }

    header p {
        text-align: left;
        margin-top: 10px;
        margin-left: calc(100% - 97%);
        font-size: larger;
    }

    .projects {
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        width: 750px;
        justify-content: space-evenly;
    }
    .project {
        width: 350px;
        margin: 20px 0px;
    }

    .project p {
        width: 82%;
    }

    .contact p {
        width: 56%;
    }

    header {
        margin-bottom: 120px;
    }

    header section {
        margin-top: 50px;
    }

    header section,
    #Contact {
        width: 750px;
    }

    .hidden-text {
        display: contents;
    }

    .footer-item-2 {
        display: none;
    }

    .footer-container {
        justify-content: space-evenly;
    }
    
    .footer-item a {
        padding: 10px;
    }
}

@media screen and (min-width: 1024px ) {

    header {
        width: 90%;
        margin-bottom: 150px;
    }

    h1 {
        display: none;
    }

    #Portfolio {
        margin: 0 auto;
        width: 960px;
    }
    .hidden-name {
        display: contents;
    }

    .main-nav {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
    }

    .nav-item-1 p {
        font-weight: bold;
        font-size: x-large;
    }

    .nav-item-4 {
        margin-right: 0;
    }

    header section {
        width: 920px;
    }
     
    .profile-image {
        width: 350px;
        margin-right: 10px;
    }

    header p {
        width: 500px;
        margin-left: 0;
        font-size: 1.3em;
    }

    .projects {
        width: 920px;
    }

    .project {
        width: 290px;
    }

    .project p {
        width: 96%;
    }

    .contact p{
        width: 68%;
        font-size: larger;
    }
}